/*-----Global Variables-----*/

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

/*-----Header-----*/

header {
    height: 8.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #30363d;
    
}

header h1 {
    margin-left: 2rem;
    font-weight: 500;
    color: white;
}

/*-----Main-----*/

.container {
    display: flex;
    height: 79rem;
    width: 100%;
}

/*-----LEFT COLUMN-----*/

.left-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 28%;
    background-color: rgb(13, 17, 23);
    border-right: 1px solid #30363d;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 25.9rem;
    margin-bottom: 4.5rem;
}

.sizer-one {
    height: 10rem;
    width: 100%;
}

.photo {
    width: 248.69px;
    height: auto;
}

.workandskills-container {
    width: 100%;
    height: 100%;
}

.work {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
  

.workandskills-style {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin-left: 20.5%;
    margin-bottom: 2rem;
    width: 59.49%;
    flex-direction: row;
}

.line-decoration {

height: 1px;

margin-left: 2rem;

margin-top: 4px;

width: 100%;

background-color: white;
}



.line-two {
    left: 7rem;
    top: 1.5rem;
}

.works {
    font-size: 2rem;
    color: white;
    margin-left: 20.5%;
    margin-bottom: 0.5rem;
    font-weight: 300;
}



.skill {
    display: flex;
    flex-direction: column;
}
  

.skills {
    font-size: 2rem;
    color: white;
    margin-left: 20.5%;
    margin-bottom: 0.5rem;
    font-weight: 300;
}






/*-----RIGHT COLUMN-----*/

.right-column {
    height: 100%;
    width: 72%;
    background-color: rgb(0, 0, 0);
}


.contact-principal-information-container {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-left: 4rem;
    color: white;
}

.profile-name {
    height: 9.89rem;
    font-size: 4rem;
    font-weight: 400;
}

.speciality {
    height: 4.89rem;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 6rem;
}

.dynamic-buttons-container-one {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    color: white;
    margin-bottom: 4rem;
    border-bottom: 2px solid white;
    width: 40.69rem;
    height: 4.7rem;
}


.buttons-one-style {
    font-size: 3rem;
    font-weight: 500;
}

.timeline-button {
    cursor: pointer;
    position: relative;
    width: 16rem;
    margin-right: 2.7rem;
}
.about-button {
    cursor: pointer;
    position: relative;
    width: 13rem;
}


.eye-closed {
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 3rem;
    left: 12.5rem;
    top: 0.99rem;
}

.eye-open {
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 3rem;
    left: 9.5rem;
    top: 0.65rem;
}



.information-title {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-left: 4rem;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: white;
}

.contact-secondary-information-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
    color: white;
    margin-bottom: 4rem;
}

.contact-properties {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0.6rem;
}

.contact-values {
    font-size: 2rem;
    color: #0089D4;
}
