/*-----Global Variables-----*/

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

/*-----Header-----*/


header h1 {
    margin-left: 2rem;
    font-weight: 500;
    color: white;
}

/*-----Main-----*/

.container {
    display: flex;
    min-width: 853px;
    height: 120rem;
}

.container-two {
    display: none;
}

/*-----LEFT COLUMN-----*/

.left-column {
    display: flex;
    flex-direction: column;
    min-width: 347px;
    width: 50%;
    max-width: 542px;
    background-color: rgb(13, 17, 23);
    border-right: 1px solid #30363d;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3.2rem;
    margin-top: 6rem;
}



.photo {
    width: 332.58px;
    min-width: 230.58px;
    height: auto;
}

.workandskills-container {
    width: 100%;
    height: 100%;
}

.work {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
  

.workandskills-style {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    margin-left: 20.5%;
    margin-bottom: 2rem;
    width: 59.49%;
    flex-direction: row;
}

.line-decoration {

height: 1px;

margin-left: 2rem;

margin-top: 4px;

width: 100%;

background-color: white;
}



.line-two {
    left: 7rem;
    top: 1.5rem;
}

.works {
    font-size: 2.2rem;
    color: white;
    margin-left: 20.5%;
    margin-bottom: 0.5rem;
    font-weight: 300;
}



.skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
  

.skills {
    font-size: 2.2rem;
    color: white;
    margin-left: 20.5%;
    margin-bottom: 0.5rem;
    font-weight: 300;
}






/*-----RIGHT COLUMN-----*/

.right-column {
    background-color: rgb(0, 0, 0);
    width: 50%;
}


.contact-principal-information-container {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-left: 4rem;
    color: white;
}

.profile-name {
    height: 9.89rem;
    /* min-width: 427px; */
    font-size: 4rem;
    font-weight: 400;
}

.speciality {
    height: 4.89rem;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 6rem;
}

.dynamic-buttons-container-one {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    color: white;
    margin-bottom: 4rem;
    border-bottom: 2px solid white;
    width: 40.83rem;
    height: 4.7rem;
}


.buttons-one-style {
    font-size: 3rem;
    font-weight: 500;
}

.timeline-button {
    position: relative;
    width: 16rem;
    margin-right: 2.7rem;
    margin-left: 2.7rem;
}
.about-button {
    position: relative;
    width: 13rem;
}


.eye-closed {
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 3rem;
    left: 12.5rem;
    top: 0.99rem;
}

.eye-open {
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 3rem;
    left: 9.5rem;
    top: 0.65rem;
}



.information-title {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-left: 4rem;
    height: auto;
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: white;
}

.contact-secondary-information-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
    color: white;
    margin-bottom: 4rem;
}

.contact-properties {
    color: white;
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 0.6rem;
}

.contact-values {
    font-size: 2.2rem;
    color: #0089D4;
}




/*-----Dynamic-----*/

#dynamic-information-container {
    display: flex;
    flex-direction: column;
}

#eye-open-switch {
    display: none;
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 3rem;
    left: 12.5rem;
    top: 0.65rem;
}

#eye-closed-switch {
    display: none;
    cursor: pointer;
    position: absolute;
    height: auto;
    width: 3rem;
    left: 9.5rem;
    top: 0.99rem;
}


/*-----Timeline-Section-----*/

#timeline-section {
    display: none;
    flex-direction: column;
    align-items: start;
    margin-left: 4rem;
}

.timeline-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 4rem;
}

.time-text-title {
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: white;
}

.timeline-text {
    font-size: 2.2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 0.3rem;
}

/*-----Media-----*/








@media only screen and (max-width: 950px) {

    #container {
        display: none;
    }
    
    #container-two {
        display: flex;
        width: 100%;
    }

    .left-column {
        width: 100%;
        max-width: none;
    }

    .center-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 68rem;
    }

    .contact-principal-information-container {
        align-self: center;
        margin: 0;
    }

    .profile-name {
        min-width: auto;
    }
    
    .dynamic-buttons-container-one {
        align-self: center;
        justify-content: space-around;
        margin: 4rem 0px 0px;
    }

    .timeline-button {
        margin: 0;
    }

    .information-title {
        margin: 5rem 0px 5rem 0px;
        align-self: center;
    }

    .contact-secondary-information-container {
        margin: 0px 0px 0px 0px;

    }



    .workandskills-container {
        margin-top: 10rem;
        height: 69rem;
    }

    .work-container {
        margin-top: 10rem;
    }



    #eye-open-two-switch {
        display: none;
        cursor: pointer;
        position: absolute;
        height: auto;
        width: 3rem;
        left: 12.5rem;
        top: 0.65rem;
    }
    
    #eye-closed-two-switch {
        display: none;
        cursor: pointer;
        position: absolute;
        height: auto;
        width: 3rem;
        left: 9.5rem;
        top: 0.99rem;
    }
    
    .eye-open-two{
        cursor: pointer;
        position: absolute;
        height: auto;
        width: 3rem;
        left: 9.5rem;
        top: 0.65rem;
    }
    

    .eye-closed-two {
        cursor: pointer;
        position: absolute;
        height: auto;
        width: 3rem;
        left: 12.5rem;
        top: 0.99rem;
    }


    #dynamic-information-container-two {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 7rem;
    }


    #timeline-section-two{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20rem;
    }

    .timeline-list-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
    
}






/*Mobile Query*/


@media only screen and (max-width: 450px) {

    * {
        font-family: roboto, sans-serif;
    }


    .font-white {
        color: white;
    }

    #container {
        display: none;
    }

    #container-two {
        display: none;
    }

    body {
        background-color: #1A2433;
    }

    .mobile-nav-container {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 7rem;
        width: 100%;
        background-color: #334766;
    }

    #mobile-nav-button {
        height: auto;
        width: 4rem;
        margin-left: 2rem;
    }




    .mobile-photo-container{
        display: flex;
        flex-direction: column;
        height: 35rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .mobile-profile-photo {
        height: auto;
        width: 20rem;
        margin-bottom: 1rem;
    }

    .mobile-profile-name-container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .mobile-name {
        font-size: 2.8rem;
        margin-bottom: 0.3rem;
        text-align: center;
    }

    .mobile-speciality {
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
    }

    .mobile-buttons-container {
        display: flex;
        height: 5rem;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #mobile-about, #mobile-timeline {
        font-size: 3rem;
        font-weight: 500;
        position: relative;
    }


    #mobile-work-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 2.5rem;
        height: 10rem;
    }

    .mobile-work-title {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .mobile-skills-title {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .mobile-work-text-container {
        display: flex;
        flex-direction: column;
    }

    .mobile-work-skills-text {
        font-size: 2rem;
        font-weight: 400;
    }
    
    #mobile-skills-container {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-left: 2.5rem;
    }

    .mobile-skills-text-container {
        display: flex;
        flex-direction: column;
    }

    #nav-objects-container {
        background-color: #334766;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 50px;
        left: -600px;
        transition: left 0.4s ease;
    }

    .object-title {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10rem;
        border-bottom: 2px solid #ffffff85;
    }

    .object-title span {
        font-size: 4rem;
        font-weight: 500;
        margin-left: 2.3rem;
    }

}








@media only screen and (min-width: 450px) {
    #mobile-container {
        display: none;
    }
}


















